#image-upload #dropTarget {
    height: 200px;
    border: 1px solid #c1c1c1;
    border-style: dashed;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    display: flex;
}

#image-upload #dropTarget img {
    height: 180px;
    margin: auto;
    display: block;
}
#image-upload #dropTarget span {
    margin: auto;
    display: block;
}

#image-upload .choose-pic {
    color: #ff126c;
}