.recipie.card .profile-picture img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.recipie.card .profile-name{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.recipie.card .card-header{
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid #e6e6e6;
    border-radius: 0;
    position: relative;
}

.recipie.card .actions{
    top: 20px;
    position: absolute;
    right: 25px;
}
/* .recipie.card .actions .btn-actions{
    background: none;
    border: none;
    font-size: 20px;
} */
/* .recipie.card .actions .btn-actions:focus{
    outline: none;
} */
.recipie.card.deleting{
    background-color: gainsboro;
    filter: blur(3px);
}

@media (max-width: 692px) {
    .recipie.card{
        border: none;
    }
}
@media (min-width: 692px) {
    .recipie.card{
        margin-left: 15%;
        margin-right: 15%;  
    }
}