#search{
    width: 90%;
}

#search input {
    border:none;
    border-bottom: 1px solid #a5a5a5;
    border-radius: 0;
    padding-right: 40px;
    background: none;
}

#search input:focus {
    outline: none;
}

