:root{
  --text-color: rgba(97, 97, 97, 0.9);
  --app-color: #ff126c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand{
  margin-right: 0;
 
}

input:focus{
  outline: none;
}
.btn-actions{
  background: none;
    border: none;
    font-size: 20px;
}
input:focus, textarea:focus, select:focus, .btn-actions{
  outline: none !important;
  box-shadow: none !important;
}

.navbar-light .navbar-brand{
  color: var(--text-color);
}

.btn-actions{
  color: var(--text-color);
}
.dropdown-item{
  color:var(--text-color);
}

label.info {
  color: #b0b0b0;
  font-size: 14px;
}

.color-app{
  color:var(--app-color);
}

.hide {
  display:none;
}